<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿风较大空间看了法</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到发几点睡看风景安咯神盾局</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯富婆为阿婆防无法噶的上坡</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱</string>
		<key>detail</key>
		<string>发送到了发送到发大</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯发生快疯了；卡萨丁发了；上岛咖啡；啦发的是无法</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
	<dict>
		<key>name</key>
		<string>放假啊莱克斯顿</string>
		<key>detail</key>
		<string>发送到了发送到发大水发送到</string>
		<key>descrip</key>
		<string>房价卡兰蒂斯</string>
	</dict>
</array>
</plist>
